extends layout

block content
  h1= "Docker fonctionne!"
  p l'application node tourne sur le port 3000 dans le conteneur et daemon docker a exposer l'application sur le port 80.
  p bonne chance pour la suite