extends layout

block content
  h1= "Docker fonctionne TP réussi !"
  p l'application node tourne sur le port 3000 dans le conteneur.
  p Le daemon docker a exposer l'application sur le port de votre choix.